{% extends 'base.html.twig' %}

{% block title %}
	Liste des taxes
{% endblock %}

{% block body %}
	<section>
		<h1>Administration des taxes</h1>
		<a href="{{ path('admin.taxe.create')}}" class="mt-2 btn btn-primary">Créer une taxes</a>
		<div>
			{% for taxe in taxes %}
				<div>
					<h4>{{ taxe.name }}</h4>
					<p>{{ taxe.rate }}</p>
					<p>{{ taxe.enable ? 'Actif' : 'Inactif'}}</p>
					<div>
						<a href="{{ path('admin.taxe.edit', {id: taxe.id}) }}">Modifier</a>
						{% include 'Backend/Taxe/_deleteForm.html.twig' %}
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
